<app-recruitment-admin-navbar></app-recruitment-admin-navbar>
<div class="wrapper">
<div class="landing-splash-widget">
    <img src="assets\CPUT.jpg" alt="Landing page image">
</div>

<div class="homepage-divider"></div>
</div>

<div class="vacancy-post-wrapper">
    <h1 class="grad-portal-post-page-heading" > Add Vacancy</h1>
</div>

<div class="vacancy-post-wrapper">
<div class="vacancy-post-info">
    <h5>Vacancy Information</h5>
</div>

<div class="vacancy-post-department">
    <label for= "Department">Department</label>
    <select class=" select form-control select-hidden"
    data-select-placeholder="select department" tabindex="1" aria-hidden="true"
    formControlName="department" required>
<option data-select-id="select-department">select department</option>
<option value="information-technology-software development">Information Technology- Software Development</option>
<option value="education-foundation">Education - Foundation Phase</option>
<option value="education-intermediate">Education - Intermediate Phase</option>
<option value="bma" >Business and Mangement Science- Applied Legal studies</option>
<option value="bmb" >Business and Mangement Science- Business and Information Administration</option>
<option value="bmc" >Business and Mangement Science- Hospitality Management </option>
<option value="bmd" >Business and Mangement Science- Human Resources</option>
<option value="bme" >Business and Mangement Science- Marketing</option>
<option value="Health-department1">Health and welliness Sciences - Biomedical Sciences</option>
<option value="Health-department2">Health and welliness Sciences - Dental Sciences</option>
<option value="Health-department3">Health and welliness Sciences - Emergency Medical Sciences</option>
<option value="Health-department4">Health and welliness Sciences - Medical Imaging and Therapeutic Sciences</option>
<option value="Health-department5">Health and welliness Sciences - Nursing</option>
<option value="Health-department1">Health and welliness Sciences - Ophthalmic Sciences</option>
<option value="Health-department1">Health and welliness Sciences - Welliness Sciences</option>
<option value="applied-department1">Applied Sciences - Food Technology </option>

</select>

</div>

<div class="vacancy-ad">
  <div class="vacancy-post-ad" >
    <label for="vacancy-ad">Vacancy AD</label>
    <input type="file" name="" id="vacancy-post-ad" />

</div>

<div class="vacancy-post-button">
    <button class="grad-post-btn" type="submit">Submit</button>
   
</div>