<app-recruitment-admin-navbar></app-recruitment-admin-navbar>
<div class="wrapper">
    <div class="landing-splash-widget">
        <img src="assets\CPUT.jpg" alt="Landing page image">
    </div>
    <div class="homepage-divider"></div>
</div>

<form action="" id="addVacancyPost" [formGroup]="vacancyPostForm" (ngSubmit)="submitVacancyPost()" novalidate>
    <div class="vacancy-post-wrapper">
        <h1 class="grad-portal-post-page-heading"> Add Vacancy</h1>
    </div>

    <div class="vacancy-post-wrapper">
        <div class="vacancy-post-info">
            <h5>Vacancy Information</h5>
        </div>

        <div class="vacancy-post-department">
            <label for="Department">Department</label>
            <select class="select2 form-control select2-hidden-accessible" id="size" aria-hidden="true"
                formControlName="departmentName" aria-placeholder="-select department-" required>
                <option tabindex="-1" value="">-select department-</option>
                <option *ngFor="let departmentName of CourseDepartment" [ngValue]="departmentName">{{departmentName}}
                </option>
            </select>
            <div class="invalid-feedback" *ngIf="vacancyPostForm.controls['departmentName'].errors?.['required']">
                <sup>*</sup>Please select your department you are studying
            </div>
        </div>

        <div class="vacancy-ad">
            <div class="vacancy-post-ad">
                <label for="vacancy-ad">Vacancy AD</label>
                <input type="file" formControlName="file" name="" id="vacancy-post-ad" required />
                <div class="invalid-feedback" *ngIf="vacancyPostForm.controls['file'].errors?.['required']">
                    <sup>*</sup>Please select file
                </div>
            </div>

            <div class="btnContainer">
                <div class="vacancy-post-button">
                    <button class="grad-cput-big-btn homepage-get-started-btn" id="btnSubmit"
                        type="submit" [disabled]="vacancyPostForm.invalid">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>