.homepage-divider{
    background-color: var(--main);
    display: block;
    height: 90px;
}

.grad-portal-post-page-heading{
    margin-top: 78px;
    margin-left: 100px;
   
}
.vacancy-post-info{
    margin-top: 58px;
    margin-left: 100px;
}
.vacancy-post-department{
margin-top: 30px;
    margin-left: 100px;
}
.vacancy-ad{
    margin-top: 35px;
    margin-left: 100px;
}
.vacancy-post-button{
    margin-top: 50px;
    margin-left: 80px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
  color: var(--light-text);
  background-color: var(--main);
  border-radius: 10px;
  border: none;
  width: 20%;
  height: 40px;
   
}

#size{
    width: 53%;
}
 .btnContainer{
    height: 200px;
    position: relative;
    padding-top: 5%;
 }

 .vacancy-post-button{
  margin: 0;
  width: 53%;
 }
