/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .portrait-layout-left-widget img{
        width: 75%;
        height: 6%;
        margin-top: 6vh;

    }

    .portrait-view-header h1{
        padding-left: 22%;

    }

    .portait-labels-inputs{
        padding-left: 22%;
    }

    #newPassword, #confirmPassword, #btnResetPassword{
        width: 210px;
    }

    #footerLinks{
        margin-top: -15vh;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .landscape-footer-links{
        margin-top: -10vh;

    }

    .landscape-submit-button{
        margin-top: -8vh;

    }
}
