<div class="grad-portal-dashboard-layout-wrapper">
    <div class="grad-portal-dashboard-layout-left-widget">
        <div class="portrait-layout-left-widget">
        <img class="grad-portal-dashboard-img" 
             src="../assets/CPUT_Logo-White.png" 
             alt="cput logo" />
        </div>
    </div>
    <div class="grad-portal-dashboard-layout-right-widget">
        <div class="grad-portal-dashboard-layout-right-form-wrapper">
            <div class="portrait-view-header">
                <div class="mobile-logo" style="margin-top: 10%;">
                    <img class="grad-portal-dashboard-img" src="../assets/CPUT_Logo.png" alt="cput logo">
                </div>
            <h1>Reset Password</h1>
            </div>
            <form action="" [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()" class="grad-portal-dashboard-layout-right-form">
                <div class="portait-labels-inputs">
                  <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                    <label for="password" class="form-label">New Password</label>
                    <input type="password" class="form-control" formControlName="newPassword" id="newPassword" />
                    <div class="error-msg" *ngIf="newPassword && newPassword.invalid && newPassword.touched">
                        <span class="grad=portal-form-error-msg" *ngIf="newPassword && newPassword.invalid && newPassword.touched">
                          invalid input
                        </span>
                      </div>
                  </div>
                  <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword" id="confirmPassword"/>
                    <div class="error-msg" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">
                        <span class="grad=portal-form-error-msg" *ngIf="confirmPassword && confirmPassword.invalid && confirmPassword.touched">
                          invalid input
                        </span>
                      </div>
                  </div>
                  <div class="mb-3 grad-portal-dashboard-layout-right-form-input-button-wrapper">
                    <div class="landscape-submit-button">
                    <button [disabled]="resetPasswordForm.invalid" type="submit" class="grad-cput-big-btn " id="btnResetPassword">Reset Password</button>
                    </div>
                  </div>
                </div>
            </form>
        </div>

        <div class="grad-portal-dashboard-layout-right-footer-wrapper">
            <ul>
                <li id="footerImg">
                    <img src="../../assets/CPUT_Navbar-Logo.png" alt="Cput Logo">
                </li>

                <li id="footerCopyright">
                    &copy; Cape Peninsula University of Technology
                </li>

                <div id="footerLinks">
                    <div class="landscape-footer-links">
                    <li class="grad-portal-dashboard-layout-footer-links">
                        <a href="">Contact Us</a>
                    </li>

                    <li class="grad-portal-dashboard-layout-footer-links">
                        <a href="">About Us</a>
                    </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>