/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .grad-portal-dashboard-layout-left-widget img {
        height: 5%;
        width: 85%;
        margin-top: 10vh;

    }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}
}