<div class="grad-portal-dashboard-layout-wrapper">
    <div class="grad-portal-dashboard-layout-left-widget">
        <img class="grad-portal-dashboard-img" src="../assets/CPUT_Logo-White.png" alt="cput logo">
    </div>
    <div class="grad-portal-dashboard-layout-right-widget">
        <div class="grad-portal-dashboard-layout-right-form-wrapper">
            <h1>Sign In</h1>
            <form action="" class="grad-portal-dashboard-layout-right-form">
                <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" />
                  </div>
                  <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="formGroupExampleInput2" />
                    <a routerLink="/forgot-password" routerLinkActive="active" style="float: right;">Forgot Password</a>
                  </div>
                  <div class="mb-3 grad-portal-dashboard-layout-right-form-input-button-wrapper">
                    <button type="submit" class="grad-cput-big-btn ">Login</button>
                  </div>
            </form>
        </div>

        <div class="grad-portal-dashboard-layout-right-footer-wrapper">
            <ul>
                <li id="footerImg">
                    <img src="../../assets/CPUT_Navbar-Logo.jpeg" alt="Cput Logo">
                </li>

                <li id="footerCopyright">
                    &copy; Cape Peninsula University of Technology
                </li>

                <div id="footerLinks">
                    <li class="grad-portal-dashboard-layout-footer-links">
                        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
                    </li>

                    <li class="grad-portal-dashboard-layout-footer-links">
                        <a href="">About Us</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</div>
