<app-navbar></app-navbar>
<div class="wrapper">
    <div class="landing-splash-widget">
        <img src="assets\CPUT.jpg" alt="Landing page image">
    </div>

    <div class="homepage-divider"></div>

    <div class="homepage-bottom-section">
            <div class="row">
                <div class="col homepage-bottom-section-left-column">
                    <h1>
                        Welcome to the CPUT Graduate’s Portal System
                    </h1>

                    <h2>CICD implementation using GitHub actions is added</h2>
                    <p>
                        Testing yaml
                    </p>

                    <p>
                        If you are a recent graduate (completed your studies within the past two years at
                        CPUT) and unemployed and are looking for work, this is the perfect place to start looking.
                    </p>

                    <button class="grad-cput-big-btn homepage-get-started-btn">
                        Get Started
                    </button>
                </div>
                <div class="col">
                    <img id="gradImage" src="../../assets/index.jpg" alt="Cput Graduate Image">
                </div>
            </div>
    </div>
</div>
<app-footer></app-footer>