<app-navbar></app-navbar>
<div class="wrapper">
  <div class="grad-portal-graduate-app-vacancy-information-wrapper">
    <div class="grad-portal-graduate-app-vacancy-information-wrapper-heading">
      <h1>Vacancy Information</h1>
      <br>
      <label for="position">Junior DevOps Engineer</label>
      <br>
      <br>
      <br>
      <label for="location" style="color: red;">Cape Town & johannesburg - On-Sight</label>
      <br>
      <br>
      <br>
      <label for="description">Job Description</label>
      <br>
      <p>
        A DevOps Engineer works with developers and the IT staff to oversee the code releases,<br>
        combining an understanding of both engineering and coding. From creating and implementing<br>
        systems software to analyzing data to improve existing ones, a DevOps Engineer increases<br>
        productivity in the workplace.
      </p>
      <br>
      <label for="requirements">Job Requirements</label>
      <br>
      <br>
      <li>+4 years of works experience as a Devops engineer</li>
      <li>BS in Computer Science, Engineering, or relevent field</li>
      <li>Working experience with AWS</li>
      <li>Up-to-date AWS Certified Devops Engineer/Professional certification</li>
      <li>Sound problem-solving skills</li>
      <li>Planning and organisational skills</li>
      <li>Improvement orientation</li>
      <li>Team and leadership spirit</li>
      <li>English fluency, verbal and written *B1</li>
      <li>Personality traits: problem solver, proactive, highly attentive to detail</li>
      <br>
      <label for="responsibility">Key Responsibilities</label>
      <br>
      <li>Execute and configure the best practices and tools to maintain documentation of Devops</li>
      <li>Monitor the current practices and propose continuous improvements based in Devops methodologies</li>
      <li>Coach the team in the best DevOps methodologies</li>
      <li>Automate and optimize the actions and practices, implementing CI/CD pipelines for different projects</li>
      <li>Set up the monitoring, metrics collection and tracing solutions to enable developer self-service</li>
      <li>Ensure the automation and the quality of the development cycle</li>
      <br>
      <label for="company">About Company</label>
      <br>
      <p>
        The IT for all company is the tech company that specialized in IT services consultations.
      </p>
      <br>
      <br>
      <div class="button">
        <button type="apply" class="button">APPLY</button>
      </div>
    </div>
  </div>
</div>
