/*.grad-portal-graduate-app-vacancy-information-wrapper-heading{*/
/*  margin-left: 122px;*/
/*  position: absolute;*/
/*  margin-top: 25px;*/
/*  font-family: Helvetica;*/
/*  font-style: bold;*/
/*}*/

.position{
  margin-left: 120px;
  margin-top: 60px;
}

.location{
  margin-left: 120px;
  margin-top: 60px;
}

.description{
  margin-left: 120px;
  margin-top: 60px;
}

.requirements{
  margin-left: 120px;
  margin-top: 60px;
}

.responsibility{
  margin-left: 120px;
  margin-top: 60px;
}

.company{
  margin-left: 120px;
  margin-top: 60px;
}

.button{
  margin-left: 120px;
  margin-top: 10px;
  width: 90%;
  border: none;
  background-color:#008DB8;
  color: white;
  padding: 1px 1px;
  font-size: 14px;
  cursor: pointer;
  text-align: left;
}
