/*.grad-portal-graduate-app-vacancy-information-wrapper-heading{*/
/*  margin-left: 122px;*/
/*  position: absolute;*/
/*  margin-top: 25px;*/
/*  font-family: Helvetica;*/
/*  font-style: bold;*/
/*}*/
.vacancy-info-wrapper{
  padding: 3% 5%;
}

.vacancy-info-page-body-heading{
  margin-bottom: 2.5vh;
}

.vacancy-info-page-list{
  margin-bottom: 2.5vh;
}

.position{
  margin-left: 120px;
  margin-top: 60px;
}

.location{
  margin-left: 120px;
  margin-top: 60px;
}

.description{
  margin-left: 120px;
  margin-top: 60px;
}

.requirements{
  margin-left: 120px;
  margin-top: 60px;
}

.responsibility{
  margin-left: 120px;
  margin-top: 60px;
}

.company{
  margin-left: 120px;
  margin-top: 60px;
}

.button {
  display: block;
  color: var(--light-text);
  background-color: var(--main);
  border-radius: 10px;
  border: none;
  width: 10%;
  height: 47px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.button:hover{
  opacity: 0.7;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button{
    width: 100%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .button{
    width: 100%;
  }
}

