<app-navbar></app-navbar>
<div class="grad-profile-wrapper">
    <h1 class="grad-portal-graduate-app-page-heading">Graduate Profile</h1>

    <form action="" [formGroup]="graduateDetailsForm" (ngSubmit)="submitGraduateDetails()" autocomplete="off" novalidate>
        <!-- Personal Information -->
        <div class="grad-profile-fields-wrapper">
            <div class="grad-profile-fields-heading">
                <h3>Profile Information</h3>
            </div>

            <div class="grad-profile-fields-widget">
                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" aria-label="First name" formControlName="firstName"
                            required pattern="('^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$')">
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['firstName'].errors?.['required']">
                            <sup>*</sup>Please enter your firstname (Text only)
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="middleName">Middle Name</label>
                        <input type="text" class="form-control" aria-label="Middle name" formControlName="middleName"
                            pattern="('^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$')">
                    </div>
                </div>

                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="Surname">Surname</label>
                        <input type="text" class="form-control" aria-label="Surname" formControlName="lastName"
                            pattern="('^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$')">
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['lastName'].errors?.['required']">
                            <sup>*</sup>Please enter your lastname (Text only)
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="preffered name">Preferred name</label>
                        <input type="text" class="form-control" aria-label="Preferred name"
                            formControlName="preferredName" pattern="('^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$')">
                    </div>
                </div>

                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="secondary-email">Secondary Email</label>
                        <input type="email" class="form-control" aria-label="Secondary Email"
                            formControlName="secondaryEmail" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                            required>
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['secondaryEmail'].errors?.['required'] || graduateDetailsForm.controls['secondaryEmail'].errors?.['email'] ">
                            <sup>*</sup>Please provide a valid secondary email
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="primary-email">Primary Email</label>
                        <input type="email" class="form-control" aria-label="Primary email"
                            formControlName="primaryEmail" required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['primaryEmail'].errors?.['required'] || graduateDetailsForm.controls['secondaryEmail'].errors?.['email'] ">
                            <sup>*</sup>Please provide a valid primary email
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="Gender">Gender</label>
                        <select class="select2 form-control select2-hidden-accessible"
                            data-select2-placeholder="select gender" aria-hidden="true" formControlName="gender"
                            aria-placeholder="-select gender-" required>
                            <option tabindex="-1" value="">-select gender-</option>
                            <option *ngFor="let gender of Gender" [ngValue]="gender">{{gender}}</option>
                        </select>
                        <!-- error block -->
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['gender'].errors?.['required']">
                            <sup>*</sup>Please select gender
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <div id="grad-profile-license-dynamic-fields-wrapper-id"
                            class="grad-profile-dynamic-fields-wrapper">
                            <label for="license">Do you own a driver's license?</label>
                            <select class="select2 form-control select2-hidden-accessible"
                                data-select2-placeholder="license?" aria-hidden="true" formControlName="license"
                                id="licenseOption" required>
                                <option tabindex="-1" value="">-select license-</option>
                                <option *ngFor="let licence of License" [ngValue]="licence">{{licence}}</option>
                            </select>
                            <!-- error block -->
                            <div class="invalid-feedback"
                                *ngIf="graduateDetailsForm.controls['license'].errors?.['required']">
                                <sup>*</sup>Please indicate if you own a licence
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="country">Select Country</label>
                        <select class="select2 form-control select2-hidden-accessible"
                            data-select2-placeholder="select country" aria-hidden="true" formControlName="country"
                            required>
                            <option tabindex="-1" value="">-select country-</option>
                            <option *ngFor="let country of Country" [ngValue]="country">{{country}}</option>
                        </select>
                        <!-- error block -->
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['country'].errors?.['required']">
                            <sup>*</sup>Please indicate your country
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="study-permit">Select study permit</label>
                        <select class="select2 form-control select2-hidden-accessible"
                            data-select2-placeholder="study-permit?" aria-hidden="true" formControlName="studyPermit"
                            required>
                            <option tabindex="-1" value="">-select whether you own a study permit or not-</option>
                            <option *ngFor="let studyPermit of StudyPermit" [ngValue]="studyPermit">{{studyPermit}}
                            </option>
                        </select>
                        <!-- error block -->
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['studyPermit'].errors?.['required']">
                            <sup>*</sup>Please indicate if you own a study permit
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Authorization Information -->
        <div class="grad-profile-fields-wrapper">
            <div class="grad-profile-fields-heading">
                <h3>Authorization Information</h3>
            </div>

            <div class="grad-profile-fields-widget">
                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" class="form-control" formControlName="password"
                            minlength="6" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['password'].errors?.['required'] || graduateDetailsForm.controls['password'].errors?.['pattern']">
                            <sup>*</sup>Please enter your password
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="confirmpassword">Confirm Password</label>
                        <input type="password" class="form-control" class="form-control"
                            formControlName="confirmPassword" minlength="8" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['confirmPassword'].errors?.['required']">
                            <sup>*</sup>Please re-enter your password
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Work Experience -->
        <div class="grad-profile-fields-wrapper">
            <div class="grad-profile-fields-heading">
                <h3>Work Experience</h3>
                <h4 id="order-by-hint">(REVERSE CHRONOLOGICAL ORDER)</h4>
            </div>

            <div class="grad-profile-fields-widget">
                <div id="grad-profile-dynamic-fields-wrapper-id" class="grad-profile-dynamic-fields-wrapper">
                    <div class="grad-profile-dynamic-fields-widget">
                        <div class="row">
                            <div class="col grad-profile-inputs-widget">
                                <label for="jobtitle">Job Title</label>
                                <input type="text" class="form-control" aria-label="Job title"
                                    pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$">
                            </div>

                            <div class="col grad-profile-inputs-widget">
                                <label for="assumedrole">Assumed Role</label>
                                <input type="text" class="form-control" aria-label="Assumed role"
                                    formControlName="assumedRole" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col grad-profile-inputs-widget">
                                <label for="companyname">Company Name</label>
                                <input type="text" class="form-control" aria-label="Company name"
                                    formControlName="companyName" pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$">
                            </div>
                            <div class="col grad-profile-inputs-widget">
                                <label for="startdate">Start Date</label>
                                <input type="date" class="form-control" aria-label="Start date"
                                    formControlName="startDate">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col grad-profile-inputs-widget">
                                <label for="enddate">End date</label>
                                <input type="date" id="endDate" class="form-control" aria-label="Start date"
                                    formControlName="endDate">
                            </div>

                            <div class="col">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grad-profile-add-more-fields-btn-wrapper">
                    <button (click)="addMoreWorkExperience($event)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <span>Add more experience</span>
                </div>
            </div>
        </div>

        <!-- Qualifications -->
        <div class="grad-profile-fields-wrapper">
            <div class="grad-profile-fields-heading">
                <h3>Qualification</h3>
            </div>

            <div class="grad-profile-fields-widget">
                <div id="grad-profile-dynamic-qualification-fields-wrapper-id"
                    class="grad-profile-dynamic-fields-wrapper">
                    <div class="grad-profile-dynamic-fields-widget">
                        <div class="row">
                            <div class="col grad-profile-inputs-widget">
                                <label for="qualificationName">Qualification Name</label>
                                <input type="text" class="form-control" aria-label="Job title"
                                    formControlName="qualificationName" required pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$">
                                <div class="invalid-feedback"
                                    *ngIf="graduateDetailsForm.controls['qualificationName'].errors?.['required']">
                                    <sup>*</sup>Please provide your qualification
                                </div>
                            </div>

                            <div class="col grad-profile-inputs-widget">
                                <label for="qualificationDescription">Qualification Description</label>
                                <input type="text" class="form-control" aria-label="Assumed role"
                                    formControlName="qualificationDescription" required
                                    pattern="^[A-Za-zñÑáéíóúÁÉÍÓÚ ]+$">
                                <div class="invalid-feedback"
                                    *ngIf="graduateDetailsForm.controls['qualificationDescription'].errors?.['required']">
                                    <sup>*</sup>Please provide a short description of your qualification
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col grad-profile-inputs-widget">
                                <label for="yearObtained">Year Obtained/To be obtained?</label>
                                <input type="text" id="yearObtained" class="form-control" aria-label="Start date"
                                    formControlName="graduateDate">
                                <div class="invalid-feedback"
                                    *ngIf="graduateDetailsForm.controls['graduateDate'].errors?.['required']">
                                    <sup>*</sup>Please indicate year of graduation
                                </div>
                            </div>

                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="grad-profile-add-more-fields-btn-wrapper">
                    <button (click)="addMoreQualifications($event)">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <span>Add more qualifications</span>
                </div>
            </div>
        </div>

        <div class="grad-profile-fields-wrapper">
            <div class="grad-profile-fields-heading">
                <h3>Document Section</h3>
            </div>

            <div class="grad-profile-fields-widget">
                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="resumé">Resumé/CV</label>
                        <input type="file" name="" id="resumé" formControlName="additionalFiles" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['additionalFiles'].errors?.['required']">
                            <sup>*</sup>Please select file
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="idDocument">Identification Document</label>
                        <input type="file" name="" id="idDocument" formControlName="additionalFiles" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['additionalFiles'].errors?.['required']">
                            <sup>*</sup>Please select file
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="academicRecord">Academic Record</label>
                        <input type="file" name="" id="academicRecord" formControlName="additionalFiles" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['additionalFiles'].errors?.['required']">
                            <sup>*</sup>Please select file
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col grad-profile-inputs-widget">
                        <label for="matricResults">Matric Results</label>
                        <input type="file" name="" id="matricResults" formControlName="additionalFiles" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['additionalFiles'].errors?.['required']">
                            <sup>*</sup>Please select file
                        </div>
                    </div>

                    <div class="col grad-profile-inputs-widget">
                        <label for="studyPermit">Study/Work Permit</label>
                        <input type="file" name="" id="studyPermit" formControlName="additionalFiles" required />
                        <div class="invalid-feedback"
                            *ngIf="graduateDetailsForm.controls['additionalFiles'].errors?.['required']">
                            <sup>*</sup>Please select file
                        </div>
                    </div>

                    <div class="col"></div>
                </div>
            </div>
        </div>

        <div class="grad-profile-form-submission-btn">
            <button class="grad-cput-big-btn" [disabled]="graduateDetailsForm.invalid" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- Representation -->
<div class="grad-profile-dynamic-fields-widget">
    <div class="row">
    </div>
</div>