.form-heading{
    margin-left: 122px;
    position: absolute;
    margin-top: 25px;
    font-family: Helvetica;
    font-style: bold;
}

.col{
    margin-left: 120px;
    margin-top: 100px;
    width: 30px;
    font-family: Helvetica;
}
.label{
    margin-left: 120px; 
   margin-top: 60px;
}

  .label-1{
    margin-left: 120px; 
    margin-top: 60px;  
  }
  .label-2{
    margin-left: 120px; 
    margin-top: 60px;  
  }

  #endDate, #obtained{
    width: 545px;
  }

  .fa fa-plus-circle{
    size: 30px;
  }
 
 
