.grad-profile-wrapper{
  padding: 3% 5%;
}

.grad-profile-fields-wrapper{
  margin-bottom: 6vh;
}

.grad-profile-inputs-widget{
  margin-bottom: 4vh;
}

.grad-profile-fields-heading{
  margin-bottom: 2.5vh;
}

#order-by-hint{
  color: var(--green);
  font-size: 13.5px;
}

.grad-profile-add-more-fields-btn-wrapper button{
  border: 2px solid var(--dark-text);
  background: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--main);
  font-size: 26px;
  margin-right: 0.5%;
}

.removeXpFormSectionBtn{
  background: none;
  border: 2px solid var(--dark-text);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 3%;
  color: var(--main);
  font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grad-profile-fields-widget{
    display: grid;
    grid-template-column: 1fr;
  }

  .row{
    display: grid !important;
    grid-template-column: 1fr !important;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .grad-profile-fields-widget{
    display: grid;
    grid-template-column: 1fr;
  }

  .row{
    display: grid !important;
    grid-template-column: 1fr !important;
}
}