.grad-profile-wrapper{
  padding: 3% 5%;
}

.grad-profile-fields-wrapper{
  margin-bottom: 6vh;
}

.grad-profile-inputs-widget{
  margin-bottom: 4vh;
}

.grad-profile-fields-heading{
  margin-bottom: 2.5vh;
}

#order-by-hint{
  color: var(--green);
  font-size: 13.5px;
}

.grad-profile-add-more-fields-btn-wrapper button{
  border: 2px solid var(--dark-text);
  background: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: var(--main);
  font-size: 26px;
  margin-right: 0.5%;
}
