<nav class="navbar navbar-expand-lg navbar-light shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">
            <img width="90px" height="60px" src="..\assets\CPUT_Navbar-Logo.jpeg" alt="CPUT Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a style="color: #292929; " class="nav-link me-lg-3 cput-grad-nav-links"
                        routerLink="/login" routerLinkActive="active">Login</a></li>
                <li class="nav-item"><a style="color: #292929;" class="nav-link me-lg-3 cput-grad-nav-links"
                        routerLink="/direct-vacancy" routerLinkActive="active">Vacancy</a></li>
                <li class="nav-item"><a style="color: #292929;" class="nav-link me-lg-3 cput-grad-nav-links"
                        href="#download">Contact Us</a></li>
                <li class="nav-item"><a style="color: #292929;" class="nav-link me-lg-3 cput-grad-nav-links"
                        href="#download">About Us</a></li>
            </ul>
            <button class="grad-cput-btn" data-bs-target="#feedbackModal">
                <span><a href="/signup">Signup</a></span>
            </button>
        </div>
    </div>
</nav>