.grad-portal-graduate-app-departments-list-wrapper{
  padding: 0% 5%;
  margin-top: 2%;
}

.grad-portal-graduate-app-departments-list-widget{
  padding: 1% 2%;
  height: 700px;
  border: 3px solid var(--bs-gray-500);
  border-color: black;
}

.grad-portal-departments-list-browse-grad-btn {
  display: block;
  color: var(--light-text);
  background-color: var(--main);
  border-radius: 7px;
  border: none;
  width: 170px;
  height: 40px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: 0.6%;
}

.grad-portal-departments-list-browse-grad-btn{
  position: absolute;
  right: 5%;
  bottom: 12%;
}


.grad-portal-departments-list-browse-grad-btn:hover{
  opacity: 0.7;
  color: var(--light-text);
}

/*#appliedScienceImg{*/
/*  width: 1600px;*/
/*  height: 450px;*/
/*}*/

/*#appliedScienceImg{*/
/*  position: absolute;*/
/*  top: 20%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*}*/

/*.column {*/
/*  float: left;*/
/*  width: 25%;*/
/*  padding: 0 10px;*/
/*}*/

/* Clear floats after the columns*/
/*.row:after {*/
/*  content: "";*/
/*  display: table;*/
/*  clear: both;*/
/*}*/
