<app-navbar></app-navbar>
<div class="wrapper">
    <div class="grad-portal-graduate-app-departments-list-wrapper">
      <div class="grad-portal-graduate-app-departments-list-wrapper-heading">
          <h1 class="grad-portal-app-page-heading">Recruitment Portal</h1>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/1_applied.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Applied Science</h2>
            <p class="card-text">Agriculture, Biotechnology and Consumer Science, Chemistry, Conservation and Marine Sciences, etc...</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/2_business.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Business & Management Sciences</h2>
            <p class="card-text">Applied Legal Studies (formerly known as the Unit for Applied Law), Business and Information Administration(formely Office Management and<br>
              Technology), Cape Town Hotel school(Hospitality Management), Cost and Management Accounting, Entrepreneurship and Business Management, Financial<br>
              Accounting and Taxation, Graduate Centre for Management, Human Resources, Financial Information Systems & Internal Auditing, Management and Project<br>
              Management, Marketing, Operations Management, Public Administration & Governance, Retail Business Management, Sport Management etc</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/4_education.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Education</h2>
            <p class="card-text">Department for Foundation Phase Studies, Department for Intermediate Phase Studies, Department of Senior and Further<br>
              Education & Training Phase, Department of Teacher Professional Department of Research and Postgraduate<br>
              Studies.</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/3_engineering.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Engineering & the Built Environment</h2>
            <p class="card-text">Construction Management and Quantity Surveying, Chemical Engineering & Geomatics, Clothing & Textile<br>
              Technology, Electrical, Electronic and Computer Engineering, Industrial & Systems Engineering, Marine Studies, Mechanical<br>
              and Mechatronic Engineering.</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/5_health.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Health & Wellness Sciences</h2>
            <p class="card-text">Biomedical Sciences, Dental Sciences, Emergency Medical Sciences, Medical Imaging and Therapeutic Sciences, Nursing,<br>
              Ophthalmic Sciences, Wellness Sciences</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
        <br><br><br>
        <div class="card">
          <img class="card-img-top" src="../../assets/6_design.jpg" alt="Card image">
          <div class="card-body">
            <h2 class="card-title">Informatics & Design</h2>
            <p class="card-text">Architectural Technology and Interior Design, Urban and Reginal Planning, Information Technology, Applied Design, Media<br>
              Ophthalmic Sciences, Wellness Sciences</p>
            <a href="#" class="grad-portal-departments-list-browse-grad-btn">Browse Graduates</a>
          </div>
        </div>
      <br><br><br>
    </div>
  </div>
</div>

