<app-recruitment-admin-navbar></app-recruitment-admin-navbar>
<div class="wrapper">
    <div class="landing-splash-widget">
        <img src="assets\CPUT.jpg" alt="Landing page image">
    </div>

    <div class="homepage-divider"></div>

    <div class="recruiter-homepage-wrapper">
        <div class="recruiter-homepage-heading-wrapper">
            <h1>
                Welcome to the CPUT Graduate's Portal System
            </h1>
        </div>

        <div class="row">
            <div class="col">
                <div class="card recruiter-homepage-card-button" style="width: 32rem;">
                    <img src="../../assets/recruiter.jpg" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Vacancy Management</h3>
                        <button id="createVacancyBtn" routerLink="/vacancy-post" routerLinkActive="active" class="grad-cput-small-btn">Create
                            Vacancy</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card recruiter-homepage-card-button" style="width: 32rem;">
                    <img src="../../assets/graduate.jpg" class="card-img-top" alt="" />
                    <div class="card-body">
                        <h3 class="card-title">Graduates Management</h3>
                        <button routerLink="departments-list" routerLinkActive="active" class="grad-cput-small-btn">Find Candidates</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>