<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="250"
    alt="CPUT Logo"
    src="http://www.cput.ac.za/images/units/marketing/logo_stacked.gif"
  />

    <div class="spacer"></div>
    <div class="navbar">
      <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/vacancies">Vacancies</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <button class="signup">Signup</button>
        <li><a href="/signup">Signup</a></li>
      </ul>
    </div>
</div> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>