<div class="wrapper">
    <div class="signup-page-divider">
        <img src="../assets/CPUT_Logo.jpeg" alt="cput logo">
    </div>

<div class="signup-bottom-section">
    <div class="row">
        <div class="col-signup-page-bottom-section-left-column">
        </div>       
    </div>

    <div class="col">
        <h1>Signup</h1>
       
        <div class="label1">
            <label for="email">Email: </label> <br> 
            <input id="email" type="email" placeholder=" " maxlength="30" name="email" required size="40">   
            </div>
            <br>

            <div class="label2">
                <label for="pwd">New Password: </label> <br>
       <input type="password" id="pwd" name="pwd" minlength="8" maxlength="25" size="40"><br><br>
</div>

   <div class="label3">
    <label for="pws">Confirm Password: </label><br>
   <input type="password" id="pws" name="pwd" minlength="8" maxlength="25" size="40"><br><br>
    </div> 
    <div class="col-12">
        <button type="submit" style="height:35px;width:305px"  class="btn btn-primary">SUBMIT </button>   
        
</div>

<div class="footer">
    <img src="../assets/CPUT_Logo.jpeg" alt="cput logo">
    <h1><b>© Cape Peninsula University of Technoolgy</b></h1>
    <h1 id="contact-us"><a href="/contact_us" style="text-decoration: none"><b>⚫ Contact Us</b></a></h1>
    <h1 id="about-us"><a href="/about_us" style="text-decoration: none"><b>⚫ About Us</b></a></h1>
</div>
</div>
