.signup-page-divider{
    background-color: var(--secondary);
    display: block;
    height: 650px; 
    width: 450px;
}

.signup-page-divider img{
    padding: 150px;
    margin-top: 100px;
}

.col h1{
    margin-left: 600px;
    margin-top: -600px;
    font-size: 30pt;
}
.label1 b{
    font-size: 15px;
    padding: 100%;
    margin-left: 700px;
    
   
    font-family:  Helvetica;
    align-content: center;
   
}
.label2{
   
    margin-left: 710px;
    align-content: center;
}
.label3{
    margin-left: 710px;
    align-content: center;
}
