<div class="wrapper" id="addRegistration">
    <div class="grad-portal-dashboard-layout-wrapper">
        <div class="grad-portal-dashboard-layout-left-widget">
            <div class="landscape-logo">
                <img class="grad-portal-dashboard-img" src="../assets/CPUT_Logo-White.png" alt="cput logo">
            </div>
        </div>
        <div class="grad-portal-dashboard-layout-right-widget">
            <div class="mobile-logo" style="margin-top: 10%;">
                <img class="grad-portal-dashboard-img" src="../assets/CPUT_Logo.png" alt="cput logo">
            </div>
            <div class="grad-portal-dashboard-layout-right-form-wrapper" style="padding-top: 1%;" id="main-container">
                <h1>Graduate Signup</h1>
                <form class="grad-portal-dashboard-layout-right-form" id="addRegistration" [formGroup]="signUpForm"
                    (ngSubmit)="submitRegistration()" novalidate>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="email" id="lblPw" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="primaryEmail" autocomplete="off"
                            required />
                        <div class="invalid-feedback"
                            *ngIf="signUpForm.controls['primaryEmail'].errors?.['required'] || signUpForm.controls['primaryEmail'].errors?.['pattern']">
                            <sup>*</sup>Please enter a valid email
                        </div>
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" minlength="8" required />
                        <div *ngIf="signUpForm.controls['password'].errors?.['minlength']"></div>
                        <div class="invalid-feedback"
                            *ngIf="signUpForm.controls['password'].errors?.['required'] || signUpForm.controls['password'].errors?.['pattern']">
                            <span>
                                Password must be 8 characters or more
                            </span>
                            <ul>
                                <li>Must include an Uppercase</li>
                                <li>Must include a Lowercase</li>
                                <li>Must include a Number</li>
                                <li>Must include atleast one Special Character</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" required
                            minlength="8" />
                        <div *ngIf="signUpForm.controls['confirmPassword'].errors?.['minlength']"></div>
                        <div class="invalid-feedback"
                            *ngIf="signUpForm.controls['confirmPassword'].errors?.['required']">
                            <sup>*</sup>Please re-enter password
                        </div>
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-button-wrapper">
                        <div class="landscape-button">
                            <button type="submit" [disabled]="signUpForm.invalid"
                                class="grad-cput-big-btn">Signup</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="grad-portal-dashboard-layout-right-footer-wrapper">

                <div class="footer-section">
                    <ul>
                        <li id="footerImg">
                            <img src="../../assets/CPUT_Navbar-Logo.png" alt="Cput Logo">
                        </li>
                        <li id="footerCopyright">
                            &copy; Cape Peninsula University of Technoolgy
                        </li>
                    </ul>
                </div>

                <div id="footerLinks">
                    <div class="footer-landscape-links">
                        <li class="grad-portal-dashboard-layout-footer-links">
                            <a href="">Contact Us</a>
                        </li>

                        <li class="grad-portal-dashboard-layout-footer-links">
                            <a href="">About Us</a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>