<div class="wrapper" id="addRegistration">
    <div class="grad-portal-dashboard-layout-wrapper">
        <div class="grad-portal-dashboard-layout-left-widget">
            <img src="../assets/CPUT_Logo.jpeg" alt="cput logo">
        </div>
        <div class="grad-portal-dashboard-layout-right-widget">
            <div class="grad-portal-dashboard-layout-right-form-wrapper" id="main-container">
                <h1>Signup</h1>
                <form action="" class="grad-portal-dashboard-layout-right-form" id="addRegistration"
                    [formGroup]="signUpForm" (ngSubmit)="submitRegistration()">
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" formControlName="email" required />
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" formControlName="password" required />
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-wrapper">
                        <label for="password2" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" required />
                    </div>
                    <div class="mb-3 grad-portal-dashboard-layout-right-form-input-button-wrapper">
                        <button type="submit" class="grad-cput-big-btn " [disabled]="signUpForm.invalid">Signup</button>
                    </div>
                </form>
            </div>

            <div class="grad-portal-dashboard-layout-right-footer-wrapper">
                <ul>
                    <li id="footerImg">
                        <img src="../../assets/CPUT_Navbar-Logo.jpeg" alt="Cput Logo">
                    </li>

                    <li id="footerCopyright">
                        &copy; Cape Peninsula University of Technoolgy
                    </li>

                    <div id="footerLinks">
                        <li class="grad-portal-dashboard-layout-footer-links">
                            <a href="">Contact Us</a>
                        </li>

                        <li class="grad-portal-dashboard-layout-footer-links">
                            <a href="">About Us</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>