.signup-page-divider{
    background-color: var(--secondary);
    display: block;
    height: 650px; 
    width: 450px;
}

.signup-page-divider img{
    padding: 150px;
    margin-top: 100px;
}

.col h1{
    margin-left: 700px;
    margin-top: -550px;
    font-size: 30pt;
}

.label1 {
    /* font-size: 15px; */
    margin-left: 700px;
  margin-top: 50px;
    font-family:  Helvetica;
    align-content: center;
   
}

.label2{
    margin-left: 700px;
    align-content: center;
    font-family:  Helvetica;
}
.label3{
    margin-left: 700px;
    align-content: center;
    font-family:  Helvetica;
}
.btn btn-primary{
    border: none;
    color: #008DB8;
    text-align: center;
text-emphasis-color: white;
text-decoration: none;
}

.col-12{
    margin-left: 710px;
    margin-top: 20px;
}

#email,#pwd,#pws{
    font-family:  Helvetica;

}

.footer img{
    width: 100px;
    margin-left: 450px;
    margin-top: 80px;
}

.footer h1{
    font-size: 8pt;
    margin-top: -48px;
    margin-left: 570px;
    font-family: Helvetica;
}

#contact-us {
    font-size: 10pt;
    font-family: Helvetica;
    margin-left: 850px;
    margin-top: -21px;
    color: var(--main);
    
}

#about-us{
    font-size: 10pt;
    font-family: Helvetica;
    margin-left: 1000px;
    margin-top: -25px;
    color: var(--main);
}
