.grad-info-personal-info-wrapper{
    margin-bottom: 2%;    
}

.graduate-info-wrapper{
    padding : 3% 5%;
}

.graduate-info-qualifications-body-wrapper{
    margin-bottom: 2%;
}
.graduate-info-experience-body-wrapper{
    margin-bottom: 2%;
}