<app-recruitment-admin-navbar></app-recruitment-admin-navbar>
<div class="graduate-info-wrapper">
  <h1 class="grad-portal-app-page-heading" style="margin: 1% 0%;" >Graduate’s Information</h1>

  <div class="graduate-info-body-wrapper">
    <div class="graduate-info-page-body-heading">
      <h3 style="margin: 2% 0%;">Personal Information</h3>

      <div class="grad-info-personal-info-wrapper">
        <h4>Name</h4>
        <p>John Max Doe</p>
      </div>

      <div class="grad-info-personal-info-wrapper">
        <h4>Preferred Name</h4>
        <p>John</p>
      </div>


      <div class="grad-info-personal-info-wrapper">
        <h4>Gender</h4>
        <p>Male</p>
      </div>


      <div class="grad-info-personal-info-wrapper">
        <h4>Driver’s License</h4>
        <p>Yes</p>
      </div>


      <div class="grad-info-personal-info-wrapper">
        <h4>Study Permit</h4>
        <p>Study Visa</p>
      </div>
    </div>

    <div class="graduate-info-body-wrapper">

      <div class="graduate-info-qualifications-body-wrapper">
        <div class="graduate-info-page-body-heading">
          <h3>Qualifications</h3>
        </div>
        <div class="graduate-info-page-list">
          <ul>
            <li>Advanced Diploma in Applications Development - 2021</li>
            <li>National Diploma in Applications Development - 2020</li>
            <li>Higher Certificate in Information Commnunications Technology - 2017
            </li>
          </ul>
        </div>
      </div>
      <div class="graduate-info-experience-body-wrapper">
        <div class="graduate-info-page-body-heading">
          <h3>Work Experience</h3>
        </div>
        <div class="graduate-info-page-list">
          <ul>
            <li>Software Engineer Intern since 01 July 2020 until 31 December 2020 at TECH X</li>
            <li>Teller since 04 March 2016 until 16 January 2017 at Pick n Pay</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="graduate-info-document-section">
      <div class="graduate-info-document-section-heading">
        <h2>Document Section</h2>
      </div>

      <div class="row">
        <div class="col graduate-info-document-wrapper">
          <img src="#" alt="pdf document">
          <button class="grad-cput-btn">View</button>
        </div>
  
        <div class="col graduate-info-document-wrapper">
          <img src="#" alt="pdf document">
          <button class="grad-cput-btn">View</button>
        </div>
  
        <div class="col graduate-info-document-wrapper">
          <img src="#" alt="pdf document">
          <button class="grad-cput-btn">View</button>
        </div>
  
        <div class="col graduate-info-document-wrapper">
          <img src="#" alt="pdf document">
          <button class="grad-cput-btn">View</button>
        </div>
      </div>
    </div>

    <div class="graduate-info-action-btn-section">
      <button class="grad-cput-btn">Recruit</button>
      <button class="grad-cput-btn">Contact</button>
    </div>
  </div>
</div>