<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<main id="main">
    <!-- ======= Career Section ======= -->
<section class="breadcrumbs">
<div class="container">

<div class="d-flex justify-content-between align-items-center">
<h2>Recruitment List</h2>
<ol>
<li><a href="index.html">Home</a></li>
<li>Candidates</li>
</ol>
</div>

</div>
</section><!-- End Career Section -->
    <!---<div class="banner text-center" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.webp);">
      <h1>CREATING BRIGHT FUTURES!</h1>
      <P>Discover the perfect match candidates for the suitable job across CPUT</P>
    </div>--->

<!--<div class="search-job text-center">
  <input type="text" class="form-control" placeholder="Search Keyword">
  <input type="text" class="form-control" placeholder="company">
  <input type="text" class="form-control" placeholder="location">
  <input type="button" class="btn btn-primary" value="Find Job">

</div>--->

<!-- Primary -->
<div mdbDropdown class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      mdbDropdownToggle
      aria-expanded="true"
    >
      Filter by Department
    </button>
    <ul mdbDropdownMenu class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <!-- Secondary -->
  <div mdbDropdown class="btn-group">
    <button
      type="button"
      class="btn btn-primary dropdown-toggle"
      mdbDropdownToggle
      aria-expanded="false"
    >
    Filter by Location
    </button>
    <ul mdbDropdownMenu class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>


<!------Recent Candidates------>
<section id="jobs">
  <div class="container">
    <h5>RECENT</h5>

    <div class="company-details">
      <div class="job-update">
        <h4><b>John Michael Doe</b></h4>
        <p>Preffered Name: <i class="fa angle-double-right"></i>Michael</p>   
        
        <span> <i class="glyphicon glyphicon-map-marker"></i> Cape Town, Table View</span>
        <p>SKILLS: <i class="fa angle-double-right"></i>
          <small>Java</small>
          <small>Python</small>
          <small>AWS + Azure</small> 
          <small>C#</small>
          <small>NoSQL + SQL</small>
        </p>    
      </div>
     <div class="apply-btn">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>

    <div class="company-details">
      <div class="job-update">
        <h4><b>Mary Jane Doe</b></h4>
        <p>Preffered Name: <i class="fa angle-double-right"></i>Mary</p> 
        <i class="glyphicon glyphicon-map-marker"></i>
        <span> Cape Town, Salt River</span>
        <p>SKILLS: <i class="fa angle-double-right"></i>
          <small>Mathematics</small>
          <small>Accounting</small>
          <small>Business</small>
          <small>Finance</small>
        </p>     
      </div>

      <div class="apply-btn">
        <button type="button" class="btn btn-primary">View</button>
      </div>
    </div>


    <ul class="page-link text-center">
      <li class="left-arrow">&#8592;</li>
      <li class="active">1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li class="right-arrow"><a href="#">&#8594;</a></li>
    </ul>
    
  </div>
</section>

<!---------top recruiters-------->

<section id="recruiters">
    <div class="container text-center">
      <h3>TOP RECRUITERS</h3>
  
      <div>
        <img src="assets/job_logo15.png">
        <img src="assets/job_logo20.png">
        <img src="assets/job_logo18.png">
        <img src="assets/job_logo12.png">  
        <img src="assets/job_logo9.png">
        <img src="assets/job_logo19.png">
      </div>
      
      <div> 
        <img src="assets/job_logo7.png">
        <img src="assets/job_logo8.png">
        <img src="assets/job_logo10.png">
        <img src="assets/job_logo14.png">
        <img src="assets/job_logo16.png">
        <img src="assets/job_logo17.png">
      </div>
      
    </div>
  </section>
</main><!-- End #main -->
