
#forgot-password-heading-id{
  margin-bottom: 5%;
}

#forgot-password-paragraph-id{
  margin-bottom: 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .grad-portal-dashboard-layout-right-form-wrapper{
    padding-left: 16%;

  }

  #email, #btnResetPassword{
    width: 250px;
  }

  .grad-portal-dashboard-layout-left-widget img{
    width: 95%;
    height: 5%;
  }

  #footerLinks{
    margin-top: -12vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .landscape-header-content{
    margin-top: 20vh;
  }

  .landscape-submit-button{
    margin-top: -10vh;
  }

  .grad-portal-dashboard-layout-footer-links{
    margin-top: -7vh;
  }
}

