<app-navbar></app-navbar>
<div class="grad-portal-graduate-app-direct-vacancy-wrapper">
    <h1>Vacancies</h1>
    <h3>Direct Applications</h3>
    <div class="card w-100 grad-portal-graduate-app-direct-vacancy-widget">
        <div class="card-body">
            <h1 class="card-title">Junior DevOps Engineer</h1>
            <p class="card-text">Wembley Square 2, 134 Solan Rd, Gardens, Cape Town, 8001</p>
            <h4>Cape Town & Johannesburg - On-Sight</h4>
            <p class="card-text">A DevOps Engineer works with developers and the IT staff to oversee the code releases, combining an understandin…</p>
            <a href="#" class="grad-cput-small-btn grad-portal-direct-vacancy-btn">Apply</a>
        </div>
    </div>
</div>
